@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
  scroll-padding-top: 120px;
}

section h2 {
  @apply text-pink text-[22px] tablet:text-[26px] desktop:text-[30px] font-semibold mb-2;
}
nav a {
  display: inline-block;
  position: relative;
  transition: 0.4s all ease;
}

nav a:hover {
  transition: 0.4s all ease;
}

nav a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: rgba(249, 218, 208, 1);
  transform-origin: bottom right;
  transition: 0.5s ease-out;
}

nav a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.experience-card {
  box-shadow: 1px 1px 2px 0.5px rgba(191, 200, 231, 0.5);
  padding: 1rem 0.75rem;
  border-radius: 1rem;
  border: 1px solid rgba(254, 254, 254, 0.1);
}

.experience-content {
  position: relative;
  padding: 2rem 0 0rem 0;
}

.experience-card:first-child::before {
  content: 'CURRENT SCHOOL';
  position: absolute;
  color: #f9dad0;
  font-weight: 500;
  font-size: 14px;
  top: 0rem;
  left: 0;
}

.experience-content::-webkit-scrollbar {
  height: 0.5rem;
}

.experience-content::-webkit-scrollbar-track {
  background-color: #0d7690;
  border-radius: 100vw;
}

.experience-content::-webkit-scrollbar-thumb {
  background-color: #f9dad0;
  border-radius: 100vw;
}

@media screen and (min-width: 1248px) {
  .about button {
    transition: 0.5s ease-in-out;
  }

  .about button:hover {
    background-color: #ffc857;
    border-color: transparent;
  }

  .about button:hover a {
    color: #050f1d;
  }
}

@media screen and (min-width: 768px) {
  .experience-content::-webkit-scrollbar {
    display: none;
  }
}
